.page-header {
	font-weight: bold;
}
	
.center {
	text-align: center;
}
	
.online, .offline {
	text-transform: capitalize;
	font-weight: bold;
}

.online {
	color: green;
}
	
.offline {
	color: red;
}

.small {
	font-size:smaller;
}